body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
   }
   .container {
    text-align: center;
   }
   button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
   }
   img {
    min-width: 600px;
    min-height: 450px;
    max-width: 600px;
    max-height: 450px;
   }